<style type="text/css">
table{border-collapse:collapse;}
td{text-align:left;border:solid 1px black;text-align:center;}
td.titulo{font-weight:bold; background-color:#3366FF;color:#fff;}
tr.subtitulo td{font-weight:bold; background-color:#3366FF;color:#fff;}
td.semBorda{border-left:none;border-right:none;}</style>
<table cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td class="titulo" colspan="4">
				Centrais El&eacute;tricas Cachoeira Dourada - CDSA</td>
		</tr>
		<tr class="subtitulo">
			<td>
				Nome</td>
			<td>
				Cargo</td>
		</tr>
		<tr>
			<td>
				Guilherme Gomes Lencastre</td>
			<td>
				Diretor Presidente</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Ign&aacute;cio Pires Medeiros</td>
			<td>
				Diretor T&eacute;cnico</td>
		</tr>
		<tr>
			<td>
				Manuel Rigoberto Herrera Vargas</td>
			<td>
				Diretor de Trading e Comercializa&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Carlos Ewandro Naegle Moreira</td>
			<td>
				Diretor de Recursos Humanos</td>
		</tr>
		<tr>
			<td>
				Janaina Savino Vilella Carro</td>
			<td>
				Diretora de Rela&ccedil;&otilde;es Institucionais e Comunica&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Teobaldo Jos&eacute; Cavalcante Leal</td>
			<td>
				Diretor Financeiro</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Alves Mello Franco</td>
			<td>
				Diretor de Regula&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Ana Claudia Gon&ccedil;alves Rebello</td>
			<td>
				Diretora Jur&iacute;dico</td>
		</tr>
		<tr>
			<td>
				Aurelio Ricardo Bustilho de Oliveira</td>
			<td>
				Diretor de Planejamento e Controle</td>
		</tr>
		<tr>
			<td class="semBorda" colspan="4">
				&nbsp;</td>
		</tr>
		<tr>
			<td class="titulo" colspan="4">
				Companhia de Interconex&atilde;o Energ&eacute;tica - CIEN</td>
		</tr>
		<tr class="subtitulo">
			<td>
				Nome</td>
			<td>
				Cargo</td>
		</tr>
		<tr>
			<td>
				Guilherme Gomes Lencastre</td>
			<td>
				Diretor Presidente</td>
		</tr>
		<tr>
			<td>
				Aur&eacute;lio Ricardo Bustilho de Oliveira</td>
			<td>
				Diretor de Planejamento e Controle</td>
		</tr>
		<tr>
			<td>
				Teobaldo Jos&eacute; Cavalcante Leal</td>
			<td>
				Diretor Financeiro</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Ign&aacute;cio Pires Medeiros</td>
			<td>
				Diretor T&eacute;cnico</td>
		</tr>
		<tr>
			<td>
				Manuel Rigoberto Herrera Vargas</td>
			<td>
				Diretor de Trading e Comercializa&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Carlos Ewandro Naegele Moreira</td>
			<td>
				Diretor de Recursos Humanos</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Alves Mello Franco</td>
			<td>
				Diretor de Regula&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Janaina Savino Vilella Carro</td>
			<td>
				Diretora de Rela&ccedil;&otilde;es Institucionais e Comunica&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Ana Cl&aacute;udia Gon&ccedil;alves Rebello</td>
			<td>
				Diretora Jur&iacute;dica</td>
		</tr>
		<tr>
			<td class="semBorda" colspan="4">
				&nbsp;</td>
		</tr>
		<tr>
			<td class="titulo" colspan="4">
				Central Termel&eacute;trica Endesa Fortaleza &ndash; CGTF</td>
		</tr>
		<tr class="subtitulo">
			<td>
				Nome</td>
			<td>
				Cargo</td>
		</tr>
		<tr>
			<td>
				Manuel Rigoberto Herrera Vargas</td>
			<td>
				Diretor Geral</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Ign&aacute;cio Pires Medeiros</td>
			<td>
				Diretor T&eacute;cnico</td>
		</tr>
		<tr>
			<td>
				Raimundo C&acirc;mara Filho</td>
			<td>
				Diretor de Recursos Humanos</td>
		</tr>
		<tr>
			<td>
				Aurelio Ricardo Bustilho de Oliveira</td>
			<td>
				Diretor de Planejamento e Controle</td>
		</tr>
		<tr>
			<td>
				Janaina Savino Vilella Carro</td>
			<td>
				Diretora de Rela&ccedil;&otilde;es Institucionais e Comunica&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Teobaldo Jos&eacute; Cavalcante Leal</td>
			<td>
				Diretor Financeiro</td>
		</tr>
		<tr>
			<td>
				Jos&eacute; Alves de Mello Franco</td>
			<td>
				Diretor de Regula&ccedil;&atilde;o</td>
		</tr>
		<tr>
			<td>
				Ana Claudia Gon&ccedil;alves Rebello</td>
			<td>
				Diretora Jur&iacute;dico</td>
		</tr>
		<tr>
			<td>
				Manuel Rigoberto Herrera Vargas</td>
			<td>
				Diretor de Trading e Comercializa&ccedil;&atilde;o</td>
		</tr>
	</tbody>
</table>