<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:none;
}
-->
</style>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right"><table width="75%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30%" height="20"><a href="index.html#indicadores" target="_parent"><img src="imagens/menuIndicadores.gif" alt="principais indicadores" width="150" height="10" border="0" /></a></td>
        <td width="27%"><a href="acionistas.html" target="_parent"><img src="imagens/menuAcionistas.gif" alt="acionistas" width="75" height="10" border="0" /></a></td>
        <td width="43%"><a href="reconhecimento.html" target="_parent"><img src="imagens/menuReconhecimento.gif" alt="reconhecimento externo" width="151" height="10" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="perfil.html" target="_parent"><img src="imagens/menuPerfil.gif" alt="perfil" width="50" height="10" border="0" /></a></td>
        <td><a href="clientes.html" target="_parent"><img src="imagens/menuClientes.gif" alt="clientes" width="63" height="11" border="0" /></a></td>
        <td><a href="damostracoesValor.html" target="_parent"><img src="imagens/menuDemonstracoes.gif" width="238" height="11" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="apresentacao.html" target="_parent"><img src="imagens/menuRelatorio.gif" alt="sobre o relat&oacute;rio" width="166" height="12" border="0" /></a></td>
        <td><a href="pessoas.html" target="_parent"><img src="imagens/menuPessoas.gif" alt="pessoas" width="63" height="10" border="0" /></a></td>
        <td><a href="balancoSocial.html" target="_parent"><img src="imagens/menuBalancoSocial.gif" alt="premia&ccedil;oes" width="196" height="11" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="mensagem.html" target="_parent"><img src="imagens/menuMensagem.gif" alt="mensagem da administra&ccedil;&atilde;o" width="166" height="11" border="0" /></a></td>
        <td><a href="meioAmbiente.html" target="_parent"><img src="imagens/menuMeioambiente.gif" alt="meio ambiente" width="92" height="10" border="0" /></a></td>
        <td><a href="gri.html" target="_parent"><img src="imagens/menuSumarioGri.gif" alt="sum&aacute;rio GRI" width="92" height="10" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="compromissos.html" target="_parent"><img src="imagens/menuCompromissos.gif" alt="compromissos" width="94" height="10" border="0" /></a></td>
        <td><a href="inovacao.html" target="_parent"><img src="imagens/menuInovacao.gif" alt="iniva&ccedil;&atilde;o" width="141" height="12" border="0" /></a></td>
        <td><a href="AMPLA_demonstracoes.pdf" target="_blank"><img src="imagens/menuDemoFinaceiras.gif" alt="demnostra&ccedil;&otilde;es financeiras" width="166" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="conduta.html" target="_parent"><img src="imagens/menuConduta.gif" alt="conduta" width="63" height="10" border="0" /></a></td>
        <td><a href="sociedade.html" target="_parent"><img src="imagens/menuSociedade.gif" alt="sociedade" width="69" height="10" border="0" /></a></td>
        <td><a href="informacoesCorporativas.html" target="_parent"><img src="imagens/menuCreditos.gif" alt="informa&ccedil;&otilde;es corporativas" width="215" height="11" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
</table>
