body, a.body:link, a.body:visited {
	margin:0px;
	FONT-FAMILY:arial, helvetica, sans-serif;
	COLOR:#000000;
	background-image: url(../imagens/fundo.gif);
	background-position:center;
	scrollbar-face-color:#01649D;
	scrollbar-shadow-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-3dlight-color:#01649D;
	scrollbar-darkshadow-color:#000000;
	scrollbar-track-color:#000000;
	scrollbar-arrow-color:#FFFFFF;
	}
	

table {
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	} 

td {
	FONT-SIZE:10px;
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	}

img {
    border:0px;
	} 

a {
	font-weight:;
	letter-spacing:;
	TEXT-DECORATION:none;
	}

a:active {
    TEXT-DECORATION:none;
	COLOR:#000;
	}

a:visited {
    TEXT-DECORATION:none;
	COLOR:#000;
	}

a:link {
    TEXT-DECORATION:none;
	color:#000;
	}

a:hover {
    TEXT-DECORATION:underline;
	color:#000;
	}

select {
	FONT-SIZE:11px;
	COLOR:#666666;
	BACKGROUND-COLOR:;
	border: 1px #B4B19E solid;
	} 

input {
	BORDER-WIDTH:0px;
	HEIGHT:17px;
	FONT-SIZE:10px;
	COLOR:#FFFFFF;
	BACKGROUND-COLOR:#07466A;
	cursor: hand;
	border: 1px #B4B19E solid;
	} 

textarea {
	FONT-SIZE:11px;
	COLOR:#666666;
	BACKGROUND-COLOR:;
	border: 1px #999 solid;
	}

form {
padding:0px;
margin:0px;

}


.radio {
	background:none;
	border-style:none;
	margin:0px;
	}
	
.radio2 {
	background: #FFFFFF;
	border-style:none;
	margin:0px;
	color:#333333;
	}


/* ESTILOS PRINCIPAIS */


#fora {
	width:100%;
	text-align:center;

	}

#principal {
	width:980px;
	background-image:url(../imagens/logoCoelce.gif);
	background-repeat:no-repeat;
	margin:0 auto 0 auto;

	}
	  
#Topo {
	width:600px;
	height:25px;
	background-image:url(../imagens/fundoTopo.gif);
	text-align:right;
	padding-left:380px;
	padding-top:7px;
	margin-bottom:15px;
	}
	
#TopoInterno {
	width:980px;
	height:23px;
	background-color:#EE7000;
	padding-top:5px;
	margin-bottom:15px;
	}
	
#rodape {
	width:980px;
	height:41px;
	background-color:#EE7000;
	padding:0;
	}

	
#busca
	{
	width:190px;
	height:28px;
	margin:0px;
	padding:0px;
	padding-top:0;
	float:right;
	margin-right:5px;
	margin-top:15px;
	}
	
#titulos
	{
	width:598px;
	height:33px;
	margin:0px;
	padding:0px;
	float:left;
	margin-left:10px;
	margin-right:0px;
	background-image: url(../imagens/fundoTitulos.gif);
	text-align:left;
	}

	
/* FIM DOS ESTILOS PRINCIPAIS */

/* ESTILOS DE CONTEÚDO DA HOME */

#contDir {
    width:230px;
	color:#666666;
	height:261px;
	position:relative;
	float:left;
	padding-left:15px;
	padding-right:4px;
	text-align:left;
	}

#contDir p {
	width:230px;
	margin-top:10px;
	color:#666666;
	padding-left:;
	}

#conteudoHome {
	width:850px;
	height:480px;
	margin-left:130px;
	}
	
#contTable {
	width:865px;
	text-align:left;
	padding-left:;
	margin-left:60px;
	position:relative;
	}
	
#contTable table th {
	color:#fff;
	background-color:#0F498D;
	padding:2px;
	text-align:left;
	}
	
#contTable table td {
	padding:2px;
	color:#000;
	}
	
#contTable table td.amarela {
	padding:2px;
	color:#000;
	background-color:#DCDF49;
	}
	
#contTable a {
	color:#0099FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	}
	
#contTable a:hover {
	color:#0099FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	}
	
#conteudoInterno {
	width:880px;
	height:560px;
	margin-left:45px;
	position:relative;
	text-align:left;
	}
	
#conteudoInterno2 {
	width:880px;
	height:250px;
	margin-left:45px;
	position:relative;
	}
	
#conteudoInterno3 {
	width:880px;
	height:450px;
	margin-left:45px;
	position:relative;
	}
	
#conteudoInterno4 {
	width:880px;
	height:160px;
	margin-left:45px;
	position:relative;
	}

#conteudoInterno5 {
	width:880px;
	height:300px;
	margin-left:45px;
	position:relative;
	}


#contMiolo {
	width:280px;
	height:261px;
	position:relative;
	float:left;
	padding-left:8px;
	padding-right:4px;
	text-align:left;
	color:#666666;
	}

#contMiolo p {
	padding-left:4px;
	width:270px;
	margin-top:0px;
	}

#contTexto {
	width:800px;
	margin-left:80px;
	font-size:11px;
	line-height:18px;
	margin-bottom:40px;
	position:relative;
	text-align:left;
	}
	
#contTexto p {
	width:370px;
	text-align:left;
	padding:0;
	float:left;
	margin-right:20px;
	}
	
#contTexto a {
	color:#0099FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.paginacao {
	width:200px;
	height:20px;
	float:right;
	text-align:right;
	margin:16px 0 16px 0;
	}

#contTexto a:visited {
	color: #0099FF;
	font-size:11px;
	font-weight:bold;
}

#contTexto a:hover {
	color: #0099FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

#contTexto table td {
	font-size:11px;
}

#apDiv1 {
	position:absolute;
	width:300px;
	z-index:2;
	left:532px;
	top:394px;
	font-size:12px;
	line-height:20px;
	
}

#apDiv1 a {
	font-size:12px;
	color:#333333;
}

#apDiv1 a:hover {
	color:#EE7000;
	text-decoration:none;
}

#apDiv2 {
	position:absolute;
	width:355px;
	z-index:2;
	left:463px;
	top:79px;
	font-size:12px;
	line-height:20px;
	}

#apDiv2 a {
	font-size:12px;
	color:#333333;
}

#apDiv2 a:hover {
	color: #EE7000;
	text-decoration:none;
}

#apDiv3 {
	position:absolute;
	width:315px;
	z-index:2;
	left:24px;
	top:190px;
	font-size:12px;
	line-height:20px;
	}
	
#apDiv3 a {
	font-size:12px;
	color:#333333;
}

#apDiv3 a:hover {
	color:#EE7000;
	text-decoration:none;
}

#menuConduta {
	position:absolute;
	width:304px;
	z-index:2;
	left:566px;
	top:384px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuConduta a {
	font-size:12px;
	color:#333333;
}

#menuConduta a:hover {
	color:#EE7000;
	text-decoration:none;
}

#menuAcionistas {
	position:absolute;
	width:304px;
	z-index:2;
	left:32px;
	top:438px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuAcionistas a {
	font-size:12px;
	color:#333333;
}

#menuAcionistas a:hover {
	color:#EE7000;
	text-decoration:none;
}

#menuAcionistas2 {
	position:absolute;
	width:314px;
	z-index:2;
	left:570px;
	top:63px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuAcionistas2 a {
	font-size:12px;
	color:#333333;
}

#menuAcionistas2 a:hover {
	color:#EE7000;
	text-decoration:none;
}

#menuPessoas {
	position:absolute;
	width:304px;
	z-index:2;
	left:638px;
	top:323px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuPessoas a {
	font-size:12px;
	color:#333333;
}

#menuPessoas a:hover {
	color:#EE7000;
	text-decoration:none;
}

#menuPerfil {
	position:absolute;
	width:321px;
	z-index:2;
	left:593px;
	top:455px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuPerfil a {
	font-size:12px;
	color:#333333;
}

#menuPerfil a:hover {
	color:#EE7000;
	text-decoration:none;
}


#menuAmbiente {
	position:absolute;
	width:273px;
	z-index:2;
	left:644px;
	top:140px;
	font-size:12px;
	line-height:20px;
	}
	
	
#menuAmbiente a {
	font-size:12px;
	color:#333333;
}

#menuAmbiente a:hover {
	color:#EE7000;
	text-decoration:none;
}


.submenu {
	color:#EE7000;
	font-size:12px;
	font-weight:bold;
}


.titulos {
	color:#999999;
	font-size:14px;
	font-weight:bold;
}

.titPreto {
	color: #333333;
	font-size:12px;
	font-weight:bold;
}

.legenda {
	color:#000;
	font-size:9px;
	font-weight:;
}


/* FIM DOS ESTILOS DE CONTEÚDO DA HOME */

/* ESTILOS acordion */

.arrowsidemenu{
	width: 980px; /*width of menu*/
	text-align:left;
}
	

.arrowsidemenu div a:link, .arrowsidemenu div a:visited{
	color: #26370A;
}

.arrowsidemenu div a:hover{
	background-position: 100% -32px;
}

.arrowsidemenu div.unselected a{ /*header that's currently not selected*/
	color: #6F3700;
}

	
.arrowsidemenu div.selected a{ /*header that's currently selected*/
	color: blue;
	background-position: 100% -64px !important;
}

.arrowsidemenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.arrowsidemenu ul li{
	border-bottom: 1px solid  #FF6600;
}


.arrowsidemenu ul li a{ /*sub menu links*/
	display: block;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: black;
	padding: 5px 0;
	padding-left: 10px;
	border-left: 10px double #a1c67b;
}

.arrowsidemenu ul li a:hover{
	background: #d5e5c1;
}

.menuheaders {
	width:80px;
	height:23px;
	padding:0;
	float:left;
	margin-left:370px;
	
}
