<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:none;
}
-->
</style>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right"><table width="80%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="32%" height="20"><a href="index.html#indicadores" target="_parent"><img src="imagens/menuPincIndicadores.gif" alt="pincipais indicadores" width="147" height="12" border="0" /></a></td>
        <td width="44%"><a href="acionistas.html" target="_parent"><img src="imagens/menuAcionistas.gif" alt="acionistas" width="157" height="12" border="0" /></a></td>
        <td width="24%"><a href="premiacoes.html" target="_parent"><img src="imagens/menuPremiacoes.gif" width="175" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="perfil.html" target="_parent"><img src="imagens/menuPerfil.gif" alt="perfil" width="127" height="12" border="0" /></a></td>
        <td><a href="clientes.html" target="_parent"><img src="imagens/menuClientes.gif" alt="clientes" width="213" height="12" border="0" /></a></td>
        <td><a href="balanco.html" target="_parent"><img src="imagens/menuBalancoSocial.gif" alt="premia&ccedil;oes" width="158" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="apresentacao.html" target="_parent"><img src="imagens/menuRelatorio.gif" alt="sobre o relat&oacute;rio" width="157" height="12" border="0" /></a></td>
        <td><a href="pessoas.html" target="_parent"><img src="imagens/menuPessoas.gif" alt="pessoas" width="313" height="12" border="0" /></a></td>
        <td><a href="gri.html" target="_parent"><img src="imagens/menuSumarioGri.gif" alt="sum&aacute;rio GRI" width="140" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="mensagem.html" target="_parent"><img src="imagens/menuMensagem.gif" alt="mensagem da administra&ccedil;&atilde;o" width="157" height="12" border="0" /></a></td>
        <td><a href="meioAmbiente.html" target="_parent"><img src="imagens/menuMeioambiente.gif" alt="meio ambiente" width="270" height="12" border="0" /></a></td>
        <td><a href="COELCE_demonstracoes.pdf" target="_blank"><img src="imagens/menuDemoFinaceiras.gif" alt="demnostra&ccedil;&otilde;es financeiras" width="158" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="compromissos.html" target="_parent"><img src="imagens/menuCompromissos.gif" alt="compromissos" width="208" height="12" border="0" /></a></td>
        <td><a href="inovacao.html" target="_parent"><img src="imagens/menuInovacao.gif" alt="iniva&ccedil;&atilde;o" width="235" height="12" border="0" /></a></td>
        <td><a href="informacoesCorporativas.html" target="_parent"><img src="imagens/menuInformacoes.gif" alt="informa&ccedil;&otilde;es corporativas" width="150" height="12" border="0" /></a></td>
      </tr>
      <tr>
        <td height="20"><a href="conduta.html" target="_parent"><img src="imagens/menuConduta.gif" alt="conduta" width="223" height="12" border="0" /></a></td>
        <td><a href="sociedade.html" target="_parent"><img src="imagens/menuSociedade.gif" alt="sociedade" width="254" height="12" border="0" /></a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
