*{
    font-family: Arial, Verdana, Helvética;
    font-size: 12px;
}

html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

label{
    margin: 3px 5px;
    font-weight: bold;
    display: inline-block;
    float:left;
    width: 100px;
    text-align: right;
}

input[type=text],textarea, select{
    margin:1px;
}

h1{
    font-size: 18px;
    width:98%;
    vertical-align: middle;
}

h1.tituloInternoG{
	width:97%;
	text-align:right;
	color: #00C3F2;
	font-size: 22px;
	font-weight: bold;
	margin:0px;
}

img{
    border:none;
}

.Pq{
    width: 30px;
}

.Md{
    width: 150px;
}

.Gd{
    width: 600px;
}

.cabecalho{
    background: url(../img/fundoCab.png) top left repeat-x transparent;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.rodape{
    border-top:3px solid #365687;
    background-color: #7896B2;
    height: 50px;
    padding-top: 10px;
    padding-left: 2%;
    float: left;
    width: 98%;
    color: #FFF;
}

.informacao{
    position: absolute;
    padding:5px;
    padding-left:15px;
    right: 20px;
    top: 0px;
    background:url(../img/fundoInfo.png) top left no-repeat transparent;
    height: 23px;
    width: 235px;
}

.master{
    width: 100%;
    float: left;
    overflow: auto;
}

.menu{
    width:160px;
    float:left;
	margin-top: 10px;
    margin-left:5px;
}

ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}                  

ul#menu {
	width: 155px;
	border: 1px solid silver;  
}

ul#menu li {                
	color: black;        
	line-height: 19px;   
	background: #F4F4F4;      
}

ul#menu li.header {      
	background: #DFDFDF;
	font-weight: bolder; 
	padding: 0px 3px;
	font-size: 12px;
}   

ul#menu li a {
	color: black;
	text-decoration: none;
	display: block;       
	padding: 0px 3px;
	outline: none;
}                     

ul#menu li.parent > a {
	background: transparent url('../img/down.gif') right center no-repeat;
}                   

ul#menu li.aberto > a {
	background: transparent url('../img/up.gif') right center no-repeat;
}                   

ul#menu li a:hover {   
	background-color: #FFDEAD; 
}

ul#menu li ul.sub-menu {
  	display: none;
}                 

ul#menu li ul.sub-menu li a {
	padding-left: 15px;
	color: maroon;
}

.conteudo{
    margin-top: 10px;
    margin-left: 180px;
    width:auto; 
    margin-bottom: 50px;
}

.conteudo form{
    margin-top: 20px;
}

.resultado{
    width: 100%;
}

.resultado th{
    text-align: justify;
}

.resultado td{
    text-align: right;
}

b.alerta{
    color: #F00;
}

table.listagem {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 11px;
	width: 98%;
	text-align: left;
}

table.listagem th{
	background-color: #CDCDCD;
    padding: 5px;
}

table.listagem td{
    border-bottom: 2px solid #DDD;
    padding-top: 4px;
}

table.listagem tr:hover{
    background-color: #66CCCC;
}

#mask {
    top:0px;
    position:absolute;
    z-index:9000;
    background-color:#000;
    display:none;
}

#formNovo{
    position:absolute;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

.mensagem{
    float : right;
    width: 30%;
    background-color: #FF0;
    color: #000;
    padding: 5px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
}